
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    border: 2px solid black;
    height: 100px;
    width: 98%;
    margin: 20px;
   
    
}
 
.child{
    border: 1px dotted black;
    width: 100px;
    height: 70px;
    display: inline-block;
    margin: 15px 10px;
}

#c1{
    background: rgba(102, 201, 240, 0.4);
}
.c2{
   background: aqua;
}
.c3{
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}
.c4{
    background-image: linear-gradient(to top right, red,orange);
}
.c5{
    background-image: linear-gradient(30deg ,blue,orange);
}
.c6{
    background-image: repeating-linear-gradient( yellow 50%, green 60%);
}
.c7{
    Background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1))
}
.c8{
    background-image: radial-gradient(black,white, black, white);
}
.c9{
    background-image: radial-gradient(red 10%, yellow 10%, green 5%);
}
.c10{
    background-image: radial-gradient(circle, red, yellow, green);
}
.c11{
    background-image: conic-gradient(red, yellow, green, blue, black);
  border-radius: 50%;
}
.c12{
    background-image: conic-gradient(from 90deg, red, yellow, green);
}
.bg-img{
    background-image: url("landscape.jpg");
    height: 300px;
}
 
 .img-norep{
    background-repeat: no-repeat;
    background-size: cover;
 }